@import url(//fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono);


html {
	min-height: 100%;
	margin: 0;
}

body {
    margin: 0;
	background:
		linear-gradient(135deg, rgba(12, 45, 64, 0) 50%, rgba(12, 45, 64, 1)),
		linear-gradient(45deg, rgba(12, 45, 64, 1), rgba(12, 45, 64, 0) 50%),
		url(/images/smudges.png),
		linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 600px,
			rgba(25, 52, 67, 0.8) 600px, rgba(25, 52, 67, 0.8) 100%),
		url(/images/digits.png),
		linear-gradient(to bottom, #367193, #12435e);
	background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, repeat, no-repeat;
	min-height: 100%;
}

.logo {
    float: right;
    border-radius: 3px;
    width: 128px;
    height: 128px;
    margin: 10px;
}

#title {
    font-family: "Ubuntu Mono", Consolas, monospace;
    text-align: center;
    padding: 0.5em;
    font-size: 42px;
}

#title a {
    color: #111111;
    text-decoration: none;
}

.head-section {
    border-bottom: 1px solid #999999;
    margin: 0;
}

#info-links {
    font-family: "Ubuntu Mono", Consolas, monospace;
    padding: 0.5em 1em;
    background-color: #f8f8f8;
    font-size: 16px;
    clear: both;
}

#info-links-left {
    display: inline-block;
    float: left;
}

#info-links-right {
    float: right;
    text-align: right;
}

#info-links a {
    text-decoration: none;
    color: #0000ff;
}

a#current-info-link {
    color: #009900;
}

#centered {
    width: 100%;
    max-width: 800px;
    margin: 16px auto;
}

#container {
    background-color: #eeeeee;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.section-heading {
    font-family: "Ubuntu Mono", Consolas, monospace;
    font-weight: normal;
    font-size: 28px;
    border-bottom: 1px solid #cccccc;
}

#content {
    font-family: "Ubuntu";
    padding: 1.5em 2em;
    line-height: 150%;
}

.clear {
    clear: both;
}

#disclaimer {
    font-size: 8pt;
    line-height: 115%;
    color: white;
    text-shadow: 0 1px 2px black;
    font-family: "Ubuntu", sans-serif;
}
