@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono);


html {
    min-height: 100%;
    margin: 0;
}

body {
    margin: 0;
    background:
	linear-gradient(135deg, rgba(12, 45, 64, 0) 50%, rgba(12, 45, 64, 1)),
	linear-gradient(45deg, rgba(12, 45, 64, 1), rgba(12, 45, 64, 0) 50%),
	url(/images/smudges.png),
	linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 800px,
	rgba(25, 52, 67, 0.8) 800px, rgba(25, 52, 67, 0.8) 100%),
	url(/images/digits.png),
	linear-gradient(to bottom, #367193, #12435e);
    background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, repeat, no-repeat;
    background-position: 0 0, 0 0, 0 40px, 0 40px, 0 0px, 0 0px;
    min-height: 100%;
}

.header {
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    border-bottom:2px solid #222;
    font-family: "Ubuntu Mono", Consolas, monospace;
}

#header-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header-left {
    font-size: 42px;
    display: inline-block
}

#header-right {
    float: right;
    text-align:right;
    color: #FFF;
    font-size: 14px;
    margin-top: 24px;
}

#title {
    text-decoration: none;
    color: #66A7CC;
}

#container {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#box-styling {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 16px;
}

#content {
    background-color: #eee;
    font-family: "Ubuntu";
    padding: 1em 2em 2em;
    line-height: 150%;
    
}

.logo {
    float: right;
    border-radius: 5px;
    width: 128px;
    height: 128px;
    margin: 1em;
}

#info-links {
    font-family: "Ubuntu Mono", Consolas, monospace;
    background-color: #fefefe;
    font-size: 20px;
    padding: 0.5em 0;
}

a#current-info-link {
    /*color: #009900;*/
}

.button {
    padding: 0.5em 0.5em;
    border-right: 0px solid #ddd;
}

.button:hover {
    background-color:#ddd;
}

.blue-link2 {
    color: #66A7CC;
    text-decoration: none;
}

.blue-link {
    text-decoration: none;
    color: #66A7CC;
}

.clear {
    clear: both;
}

#font {
    font-family: "Ubuntu Mono", Consolas, monospace;
}

#disclaimer {
    font-size: 8pt;
    line-height: 115%;
    color: white;
    text-shadow: 0 1px 2px white;
    font-family: "Ubuntu", sans-serif;
}

#disclaimer-link {
    color: white;
}

#box-styling2 {
    background-color: #041E29;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #073143;
}

#box-styling3 {
    background-color: #062938;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 0px 0px 0px 0px;	
}

#info-links-left {
    color: #ddd;
    padding-left: 1em;
}

#blue-bar {
    background-color: #66A7CC;
    height: 15px;
}

#disclaimer-top {
    padding: 1em 1em 1em 1em;
    margin-top: 20px;
}

#disclaimer-bot {
    padding: 1em 1em 1em 1em;
    margin-bottom: 40px;
}

.buffer {
    margin-top: 20px;
}

#subtitle {
    font-size: 20px;
}
